@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --color-background: #F8F9FA;
  --color-foreground: #171717;

  --color-magazine-paper: #FFFFFF;
  --color-magazine-accent: #4B5563;
  /* Soft gray accent */
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}